{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add new offer {% endblock %}</h1>
<form method="post">
    <label for="offer_name">Title</label>
    <input type="text" id="offer_name" name="offer_name" placeholder="Offer name"
           value="{{ request.form['offer_name'] }}">

    <label for="user_id">User id</label>
    <input type="text" id="user_id" name="user_id">

    <label for="description">Content</label>
    <textarea id="description" name="description" placeholder="Post content" class="form-control">{{ request.form['description'] }}</textarea>

    <label for="brand_id">Brand id</label>
    <input id="brand_id" name="brand_id" type="text" value="{{ request.form['brand_id'] }}">

    <label for="price">Price</label>
    <input type="text" id="price" name="price" value="{{ request.form['price'] }}">

    <label for="car_model">Car model</label>
    <input type="text" id="car_model" name="car_model" value="{{ request.form['car_model'] }}">

    <button type="submit">Submit</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}